<p id="notice"><%= notice %></p>

<h1>Listing Cos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Item group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cos.each do |co| %>
      <tr>
        <td><%= co.name %></td>
        <td><%= co.status %></td>
        <td><%= co.item_group %></td>
        <td><%= link_to 'Show', co %></td>
        <td><%= link_to 'Edit', edit_co_path(co) %></td>
        <td><%= link_to 'Destroy', co, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Co', new_co_path %>
